body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: darkblue;
}

#experience {
  padding: 40px;
  text-align: left;
}

.experience-item {
  margin-bottom: 30px;
}

.experience-item h3 {
  margin-bottom: 5px;
  color: darkblue;
}

.experience-item ul {
  padding-left: 20px;
}